# output folder
output

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
env/
venv/
.venv/

# Sensitive information
.env
.env.*
.secrets/

# IDE directories
.idea/
.vscode/

# Data and temporary files
.ipynb_checkpoints/
logs/
tmp/

# Custom project-specific ignores (if applicable)
.utils/
audio/downloaded_tracks/
genius_corpus/
*.mp3
*.txt
*.md

# included
!requirements.txt
!.env.example
!README.md
