# output folder
backend/output

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
env/
venv/
.venv/

# Sensitive information
backend/.env
backend/.env.example
.secrets/

# IDE directories
.idea/
.vscode/

# Data and temporary files
.ipynb_checkpoints/
logs/
tmp/

# Custom project-specific ignores (if applicable)
.utils/
audio/downloaded_tracks/
genius_corpus/
*.mp3
*.txt
*.md

# included
!backend/deployment/aws/lambda_single/requirements.txt
!backend/.env.example
!README_long.md


# aws deploy
backend/deployment/aws/.aws-sam
backend/deployment/aws/.app_utils
